@import url(https://db.onlinewebfonts.com/c/a8d7b985e4eb8c5d34f2302ffe83e917?family=Nike+Futura+ND);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padding-sm {
    @apply pl-3 pr-3 md:pl-10 md:pr-10;
  }
  .SelectImgNone {
    @apply pointer-events-none select-none;
  }
  .ObjectCover {
    @apply object-cover object-center;
  }
  .FlexCenter {
    @apply flex justify-center items-center;
  }
  .FlexBetween {
    @apply flex justify-between items-center;
  }
}

.no-scroll {
  overflow: hidden;
}

.inputHover:hover .searchIcon {
  background-color: white;
}
h3 {
  font-family: "Nike Futura ND";
}


.react-multi-carousel-list {
  position: static !important;
  overflow: visible !important;
}
